@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2family=family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/****Initial css set-up****/
html {
  /*Striped bg
  background: repeating-linear-gradient(-77deg,#0b1e33,#0b1e33 15px,#12263c 15px,#12263c 20px);*/
  background-image: linear-gradient(#2c4d75, #020f20);
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body, a, p, .__className_d65c78 {
font-family: Raleway, sans-serif!important;
font-size: 18px;
}
button, input, optgroup, select, textarea {
  font-family: Raleway, sans-serif!important;
}
h1, h2, h3, h4, h5, h6 {font-family:Oswald, sans-serif;font-weight:bold;}

h3{
  font-weight:200; 
}
.bg-blue-stripes {
  background: repeating-linear-gradient(-77deg,#0b1e33,#0b1e33 15px,#12263c 15px,#12263c 20px)
}

/***Buttons***/
button {
  border-radius: 0;
}
.dark button svg,
.dark button.dark\:text-neutral-100,
.dark button.dark\:bg-opacity-50 {
  color: rgb(255 255 255 / .75);
  opacity: .75;
}
.dark button svg:hover,
.dark button.dark\:text-neutral-100:hover,
.dark button.dark\:bg-opacity-50:hover {
  color: #fdb736;
  opacity: 1;
  background: none;
}

button.text-sidebar svg, button.settings-menu svg {
  transition: all .4s ease-in-out;
  opacity: 1;
}
button.text-sidebar:hover svg, button.settings-menu:hover svg {
  transform: translateX(9px);
}
button.text-sidebar svg path, button.settings-menu svg path,
button.text-sidebar:hover svg path, button.settings-menu:hover svg path {
  fill: #fdb736;
}
.light button.text-sidebar svg path, .light button.settings-menu svg path,
.light button.text-sidebar:hover svg path, .light button.settings-menu:hover svg path {
  fill: #112e51;
}
button.text-sidebar:hover svg.tabler-icon-share,
button.text-sidebar:hover svg.tabler-icon-refresh,
button.text-sidebar:hover svg.tabler-icon-cloud-computing,
button.text-sidebar:hover svg.tabler-icon-rocket {
  transform: unset;
  color: #fdb736;
}
.light button.text-sidebar:hover svg.tabler-icon-share,
.light button.text-sidebar:hover svg.tabler-icon-refresh,
.light button.text-sidebar:hover svg.tabler-icon-cloud-computing,
.light button.text-sidebar:hover svg.tabler-icon-rocket {
  color: #112e51;
}
.share-buttons .active h3 {font-weight:400;}
hover:text-blue-500 svg {
  fill:#112e51;
}

.dark button.p-1\.5.dark\:bg-neutral-600 svg {
  color:#fff!important;
}
/***settings panels****/
.dark button.p-1\.5.dark\:bg-neutral-600:hover,
.dark .dark\:bg-\[\#2b2c36\],
.dark\:border-neutral-600.inline-block.transform.rounded-lg.border.border-gray-300.bg-neutral-100.px-4.pb-4.text-left.align-bottom.shadow-xl.transition-all.dark\:bg-\[\#22232b\].sm\:my-8.sm\:min-h-\[636px\].sm\:w-full.sm\:p-4.sm\:align-middle  {
  background: #112e51!important;
}

.dark .dark\:hover\:bg-\[\#343541\]\/90:hover {
  background-color: #112e51!important;
  color: #fdb736;
}
.dark .dark\:hover\:bg-\[\#343541\]\/90:hover svg {
  stroke: #fdb736;
  opacity:1;
}
button.text-sidebar,button[title="Create Folder"] {margin-top:24px;}
button[title="Workspaces"],
button.flex.w-full.cursor-pointer.select-none.items-center.gap-3.rounded-md.py-3.px-3.text-\[14px\].leading-3.dark\:text-white.transition-colors.duration-200.hover\:bg-neutral-200.dark\:hover\:bg-\[\#343541\]\/90:first-child
 {display:none;}

.dark button.p-1\.5.dark\:bg-neutral-600:hover svg {
  color:#fdb736!important;
}
.dark button[title="Add Account"] svg {
  stroke: #112e51;
}
.dark .flex.flex-row.gap-2.mb-2.w-full.fixed.bottom-0.left-0.px-4.pb-2 button[type="button"]:hover,
.dark\:border-neutral-600.inline-block.transform.rounded-lg.border.border-gray-300.bg-neutral-100.px-4.pb-4.text-left.align-bottom.shadow-xl.transition-all.dark\:bg-\[\#22232b\].sm\:my-8.sm\:min-h-\[636px\].sm\:w-full.sm\:p-4.sm\:align-middle button[type="button"]:hover {
  background:#fdb736;
}
.dark .dark\:shadow-\[1px_0_3px_rgba\(0\2c 0\2c 0\2c 0\.3\)\2c -1px_0_3px_rgba\(0\2c 0\2c 0\2c 0\.3\)\] {
  background: #112e51;
}
.dark .dark\:shadow-\[1px_0_3px_rgba\(0\2c 0\2c 0\2c 0\.3\)\2c -1px_0_3px_rgba\(0\2c 0\2c 0\2c 0\.3\)\] svg {
  stroke: #fdb736;
  opacity:1;
}
button[title="Sign Out"] {
  width: 100%;
}
button[title="Sign Out"]:hover {
  background:#112e51;
  color:#fdb736;
}
button[title="Sign Out"]:hover svg {
  opacity:1;
  stroke:#fdb736;
}
/****icons****/
.tabler-icon {
  @apply dark:hover:text-yellow-500;
}
/****login page***/
.bg-utclogin {
  background: radial-gradient(transparent 52%, #05152B);
}
svg.utc-logo {
  max-width: 350px;
}
circle {
  stroke: #fdb736;
}
/***conversation sidebar menu***/
.dark .conversation-prompt-wrapper  {
  padding-top: 24px;
  color: rgba(255,255,255,.75)!important;
}
.dark .conversation-prompt-wrapper > div:first-child {
  border-bottom:none;
}
.dark .conversation-menu .w-\[72px\],
.dark .conversation-menu [title="Remove Empty Conversations"] button,
.dark .conversation-menu .pr-1.pl-1  {
  width: 102%;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #112e51;
    border-radius: 0;
    border: 1px #555 solid;
    margin-top: -2px;
}
.dark .conversation-menu .pr-1.pl-1:hover  {
  background-color: #fdb736!important;
  color: #112e51;
}
.dark .conversation-menu svg {display:none;}

.dark  .bg-\[\#202123\] {
  background-color: #112e51!important;
}
/***UTC Separator***/
.utc-custom-separator  {
  margin-top:24px;
}
.utc-custom-separator path {
  transform: scale(.2) translate(150%, -575%);
}


/****Chat area****/
.power-c-chatt-icon {margin-top:.15rem;}
pre:has(div.codeblock) {
  padding: 0;
}
input:focus-visible, textarea:focus-visible {outline: 2px solid #fdb736;}
input[placeholder]{color:#fff!important;}

.dark input[type=range] {
  accent-color: #fdb736;
  height:6px;
  outline: none;
  background:#ccc!important;
}

.light input[type=range] {
  accent-color: #112e51;    
  outline: none;
}

.prose {max-width:unset; }

.user-chat-actions, .chattutc-chat-actions {
  width:fit-content;
  border-top:1px #bbb solid;
  margin-top:12px;
}
.user-chat-actions div, .chattutc-chat-actions div {
  transform: scale(1.25);
  margin:12px 12px 0;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255,255,255,.5);
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(255,255,255,.5);
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/****mantine overrides****/
.mantine-Paper-root .mantine-LoadingOverlay-root {background:rgba(17,46,81,.5)}
.mantine-Paper-root div[role="alert"], .mantine-1eu8kj1 {background: #051228;color:rgba(255,255,255,.8);}
.mantine-xqmgq6 {color: rgba(255,255,255,.8);}
.mantine-Paper-root table thead tr {background-color: #112e51!important;}
.mantine-Paper-root table tbody td {background-color: #112e51;color:rgba(255,255,255,.8)}
.mantine-Paper-root .mantine-Skeleton-root:before, .mantine-Paper-root .mantine-Skeleton-root:after {background-color: #051228!important;color:rgba(255,255,255,.1)}
.mantine-TableHeadCell-Content-Wrapper {color:#fdb736}




.model-select-wrapper {
  width: 100%; /* Ensure the wrapper is full width */
  display: block;
}
.custom-select {
  min-width: 100%;
}


/**remove rounded corners***/
.rounded-xs,
.rounded-sm,
.rounded-md,
.rounded-lg,
.rounded-xl,
.rounded-2xl,
.rounded-3xl,
.rounded-5xl,
.rounded-full,
.rounded-l,
.rounded-r,
.rounded-t,
.rounded-full {border-radius: 0!important;}

  /* Override dark mode background */
  .dark .dark\:bg-\[\#202123\],
  .dark .dark\:bg-\[\#343541\],
  .dark .dark\:via-\[\#343541\],
  .dark .dark\:to-\[\#343541\],
  .dark .dark\:bg-\[\#40414F\],
  .dark .dark\:bg-\[\#343541\]\/90,
  .dark .dark\:bg-\[\#282834\]
   {
    background-color: transparent !important;
    background-image: none !important;
  }
  .dark .hover\:bg-neutral-200:hover {
    background-color: #112e51;
  }

  .dark .dark\:to-\[\#343541\], .to-white {
    --tw-gradient-to: transparent;
  }
  .dark .dark\:via-\[\#343541\], .via-white{
    --tw-gradient-stops: transparent;
}
.bg-gradient-to-b {
  background-image: none;
}
.dark .bg-gradient-to-b {
  border: 1px solid #aaa;
}
.bg-gradient-to-b > div > div:nth-child(2) > div:first-child {
  height:0;
}

.right-0 {display:none;}

/****Make adjustments to "Start a new conversation"***/
.container > div > div:nth-child(2) > div > div:nth-child(1),
.container > div > div > div:nth-child(2) {
  display:none;
}

/****But keep the prose***/
.container > div > div:nth-child(2) > div > div:nth-child(1).prose,
.container > div > div > div:nth-child(2).prose {
  display:block;
  margin-right:0;
  padding-left:24px;
}

.power-c {
  border-radius: 50%;
}

/***remove options to keep it simple for the user***/
.items-center.sticky.top-0.py-3.z-10 button {
  color: transparent;
}
.items-center.sticky.top-0.py-3.z-10 button:first-child {
  display:none;
}

/***remove default background images****/

.w-14.h-12.flex-none.bg-cover.rounded-l-xl.text-center.overflow-hidden
 {
  background-image: none!important;
  max-width:100%!important;
}
/***fix workspace buttons***/
.items-center.sticky.top-0.py-3.z-10.flex.justify-center.border.border-b-neutral-300.bg-neutral-100.text-sm.text-neutral-500.dark\:border-none.dark\:bg-\[\#444654\].dark\:text-neutral-200 {
  @apply bg-blue-900;
  color:transparent;
  justify-content: end;
  padding-right: 24px;
  background: #112e51;
  height: 48px;
  left: 0;
  width:100%;
  opacity:1;
}

.items-center.sticky.top-0.py-3.z-10 button.hover\:opacity-50:hover {
  opacity: 1;
}
/****remove model*****/
.border-b.border-neutral-200.p-4.dark\:border-neutral-600.md\:rounded-lg.md\:border.shadow-\[0_2px_4px_rgba\(0\,0\,0\,0\.1\)\].dark\:shadow-\[0_2px_4px_rgba\(0\,0\,0\,0\.3\)\] {display:none;}

button.ml-2.mr-2.cursor-pointer.hover\:opacity-50,
button.ml-2.cursor-pointer.hover\:opacity-50.pr-2
{display:none;}

/****begin responsive styling ***/
@media (min-width:1400px){
  main {
    background-size: 20% auto;
  }
}
@media (min-width:1170px){
  main {
    background-size: 25% auto;
  }
}
@media (min-width: 1024px) {
  .container {
      max-width: 100%;
  }
}
@media (min-width: 768px) {
  .md\:mt-\[52px\] {
      margin-top: 1.5rem!important;
  }
    .container {
        max-width: 100%;
    }
}
@media (max-width: 720px) {
  .container {
    padding:24px;
  }
  pre {
    width: calc(100vw - 110px);
  }
  /*.sidebar-wrapper {position:relative!important;width:100%;overflow-x:hidden;}*/
  h1 {line-height:1.1;}
  .chat-input {
    background-color: #112e51 !important;
}
  .chat-input textarea {
    min-height: 70px;
  }
  .workspace-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 12px 6px;
    text-align: center;
  }
  .w-\[280px\] {
    width: 100%!important;
    z-index: 10000;
    background: #112e51;
    opacity: 1;
  }
  /***hide the user buttons on mobile***/
  .mt-1.ml-1.flex.flex-row.gap-1.bg-neutral-100.dark\:bg-\[\#202123\].rounded-t {
    display: none;
  }
  .dark .dark\:bg-\[\#202123\] {
    background-color: #112e51 !important;
  }
  button.text-sidebar,button[title="Create Folder"] {margin-top:0;}
  .mantine-Paper-root .mantine-LoadingOverlay-root {display:none;}
  .items-center.sticky.top-0.py-3.z-10.flex.justify-center.border.border-b-neutral-300.bg-neutral-100.text-sm.text-neutral-500.dark\:border-none.dark\:bg-\[\#444654\].dark\:text-neutral-200 {
    color: transparent;
    position: fixed;
    justify-content: end;
    padding-right: 24px;
    background: #112e51;
    height: 48px;
    left: 0;
    width:100%;
  }
  
}

